.App {
  text-align: center;
  background-color: black;
  color: purple !important;
  height: 100vh;
}

.h3,h4{
  padding-top: 1em;
  padding-left: 1em;
  text-align: start;
}
.ol{
  margin-top: 1em;
  text-align: start;
}